@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.head {
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

.menu {
	margin-top: 40px;
}

.menu ul {
	display: flex;
	gap: 60px;
	list-style: none;
}

.menu a {
	font-family: 'Mulish', sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

.contact {
	display: flex;
	justify-content: center;
	justify-items: center;
	gap: 10px;
	margin-top: 30px;
}

.contact-tel {
	color: #fff;
	font-size: 22px;
}

.contact img {
	color: #fff;
	font-size: 22px;
	margin-left: 260px;
	margin-top: 25px;
}

.soc-sety {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin-top: 40px;
	margin-left: 20px;
}

.soc-sety img {
	width: 39px;
	height: 39px;
}

.button {
	margin-top: 35px;
	margin-left: 25px;
}

.btn {
	width: 195px;
	height: 52px;
	background-color: #f17b00;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}

.btn:hover {
	color: black;
}

.header-content {
	display: flex;
	justify-content: space-between;
}

.header-content-left h1 {
	font-family: 'Mulish', sans-serif;
	max-width: 800px;
	font-size: 55px;
	color: #f17b00;
	margin-top: 115px;
	line-height: 70px;
	font-weight: 900;
}
.header-content-left h2 {
	font-family: 'Mulish', sans-serif;
	max-width: 800px;
	font-size: 30px;
	color: #fff;
}
.header-content-left p {
	font-family: 'Mulish', sans-serif;
	max-width: 420px;
	font-size: 26px;
	margin-top: 60px;
	color: #fff;
}

span {
	color: #f17b00;
}

.text {
	width: 180px;
	height: 32px;
	padding: 10px;
	background-color: black;
	border-radius: 10px;
	border: solid 1px #fff;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.phone {
	width: 180px;
	height: 32px;
	padding: 10px;
	background-color: black;
	border-radius: 10px;
	border: solid 1px #fff;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	margin-left: 10px;
}

.form-btn {
	width: 195px;
	height: 52px;
	margin-left: 10px;
	background-color: #f17b00;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.form-btn:hover {
	color: black;
}

h4 {
	max-width: 395px;
	color: #fff;
}

h4 a {
	text-decoration: none;
	font-size: 18px;
	color: orange;
	cursor: pointer;
}
h4 a:hover {
	color: orangered;
}

.checkbox {
	display: flex;
	gap: 20px;
}

.check {
	width: 25px;
}

.advantage {
	margin-top: 170px;
}

.advantage h1 {
	text-align: center;
	color: #f17b00;
	font-size: 40px;
	font-weight: 700;
	border: solid 1px orange;
	border-radius: 5px;
	width: 305px;
	height: 50px;
	margin: 0 auto;
	padding-top: 20px;
}

/*Анимация текста*/

.wrapper {
	margin-top: 100px;
	margin-bottom: 100px;
}

:root {
	--d: 500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: orange;
	--c2: rgba(168, 239, 255, 0.1);
}

.box {
	text-align: center;
	color: #f17b00;
	font-size: 2vw;
	margin: max(1rem, 3vw);
	border: 0.2rem solid;
	padding: 1vw;
	border-image: conic-gradient(
			from var(--angle),
			var(--c2),
			var(--c1) 0.5turn,
			var(--c1) 3.15turn,
			var(--c2) 0.55turn
		)
		1;
	animation: borderRotate var(--d) linear infinite forwards;
	margin: 0 auto;
}

.box:nth-child(2) {
	border-image: radial-gradient(
			ellipse at var(--gradX) var(--gradY),
			var(--c1),
			var(--c1) 50%,
			var(--c2) 180%
		)
		30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 220deg;
	}
}

/*Конец анимации*/

.wrapper-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
}

.wrapper-item {
	width: 420px;
	margin-top: 120px;
}

.box-content {
	display: flex;
	gap: 40px;
}

.box-content p {
	color: #fbad4e;
	font-size: 26px;
	padding-top: 20px;
}

.box-content img {
	border-radius: 5%;
	background-color: #f17b00;
}

.box-text p {
	max-width: 420px;
	color: #fff;
	font-size: 20px;
}

.wrapper-button {
	width: 195px;
	height: 52px;
	border: 1px solid #f17b00;
	background-color: black;
	color: #fff;
	border-radius: 12px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.wrapper-button:hover {
	color: orangered;
}

.content-text {
	margin-top: 250px;
}

.content-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.content-title h2 {
	font-family: 'Mulish', sans-serif;
	max-width: 554px;
	height: 215px;
	color: #fff;
	font-size: 34px;
}

.content-center {
	width: 290px;
	height: 350px;
	border: 2px solid #f17b00;
	border-radius: 10px;
}
.content-center h3 {
	color: #fff;
	font-size: 26px;
	margin-left: 30px;
}

.content-center p {
	color: #fff;
	margin-left: 20px;
	padding: 10px;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}

.content-right {
	width: 546px;
	height: 350px;
	background-color: #fbad4e;
	margin-left: 25px;
	border-radius: 12px;
}

.content-right h1 {
	font-size: 26px;
	margin-left: 30px;
}

.content-right p {
	max-width: 440px;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 35px;
}

.content-right img {
	width: 166px;
	height: 174px;
	margin-left: 300px;
}

.content-bottom {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}

.content-bottom-left {
	width: 554px;
	height: 280px;
	background-color: #fbad4e;
	border-radius: 12px;
	margin-top: -60px;
}

.content-bottom-left h1 {
	padding: 40px;
	font-size: 26px;
}
.content-bottom-left p {
	max-width: 440px;
	font-size: 20px;
	padding: 20px;
	margin-top: -50px;
}

.content-bottom-right {
	width: 861px;
	height: 270px;
	border: 2px solid #f17b00;
	margin-top: -58px;
	border-radius: 12px;
}

.content-bottom-right h1 {
	font-size: 26px;
	color: #fff;
	padding: 20px;
}

.content-bottom-img {
	display: flex;
	justify-content: space-between;
	margin-top: -30px;
}

.content-bottom-img p {
	max-width: 543px;
	color: #fff;
	font-size: 20px;
	margin-top: 50px;
	margin-right: 30px;
}

.main-content-text {
	display: flex;
	justify-content: space-between;
}

.main-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 981px;
	height: 60px;
	text-align: center;
	font-size: 40px;
	color: #f17b00;
	text-align: center;
	margin-top: 170px;
	border: solid 1px #f17b00;
	margin-left: 480px;
	border-radius: 8px;
}

.main-h2 {
	max-width: 485px;
	color: #fff;
	font-size: 34px;
	margin-top: 175px;
}

.main-top p {
	max-width: 285px;
	margin-top: 175px;
	font-size: 20px;
	color: #fff;
}

.main-soc {
	display: flex;
	gap: 10px;
}

.aside {
	margin-top: 126px;
	margin-bottom: 100px;
}

.aside-block {
	display: flex;
	margin-top: 50px;
}

.aside-left {
	width: 650px;
	height: 265px;
	border: 2px solid #fbad4e;
	border-radius: 20px;
	margin: 0 auto;
}

.aside-left:hover {
	background: radial-gradient(ellipse at bottom, #fbad4e 0%, #000 85%);
}

.aside-left-block {
	display: flex;
	justify-content: space-evenly;
}

.aside-left-img h1 {
	margin-top: 25px;
	color: black;
	font-size: 70px;
	-webkit-text-stroke: 1px #fbad4e; /* Толщина и цвет обводки */
}

.aside-left-text h1 {
	font-size: 26px;
	color: #fbad4e;
	margin-top: 52px;
}

.aside-text {
	max-width: 640px;
	font-size: 20px;
	color: #d0d0d0;
	margin-left: 80px;
	margin-top: -30px;
	padding-right: 20px;
}

/*Блок не совсем удачный 

.block-items-block {
	width: 320px;
	height: 155px;
	background-color: #fff;
	border-radius: 20px;
	margin-top: 253px;
	margin-left: 413px;
}

.blockitems-img-r {
	float: right;
	margin-top: -80px;
}

.blockitems-img-l {
	float: left;
	margin-top: -350px;
}

.block-items-left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-top: 20px;
}

.block-items-left p {
	max-width: 156px;
	font-size: 20px;
}

.form-block {
	background-color: #ffffff;
	margin-left: 663px;
	width: 593px;
	height: 577px;
	margin-top: -55px;
	border-radius: 20px;
	border: 3px solid #f17b00;
	box-shadow: 0 0 40px #ffffff;
}

.form-block h1 {
	max-width: 353px;
	padding-top: 70px;
	text-align: center;
	margin-left: 120px;
	font-size: 34px;
}

.input-text input {
	margin-left: 60px;
	width: 451px;
	height: 52px;
	border-radius: 12px;
	border: 1px solid #0d0c0b;
	padding: 10px;
	font-size: 26px;
	color: #000;
	font-weight: bold;
}
.input-phone input {
	margin-left: 60px;
	width: 451px;
	height: 52px;
	border-radius: 12px;
	border: 1px solid #0d0c0b;
	padding: 10px;
	font-size: 26px;
	color: #000;
	font-weight: bold;
	margin-top: 20px;
}

.form-block-btn {
	width: 470px;
	height: 62px;
	margin-top: 20px;
	margin-left: 60px;
	font-size: 26px;
	border-radius: 12px;
	border: 1px solid #0d0c0b;
	background-color: #f17b00;
	color: #fff;
	border: none;
}

.checbox-check {
	display: flex;
}

.checbox-check a {
	text-decoration: none;
	color: #000;
}

.checbox-check a:hover {
	color: orangered;
}

.checbox-check input {
	width: 30px;
	height: 30px;
	margin-left: 40px;
	margin-top: 50px;
}

.checbox-check p {
	max-width: 450px;
	font-size: 20px;
	margin-left: 20px;
	padding-top: 20px;
}

.block-items-bottom{
  width: 320px;
  height: 155px;
  background-color: #fff;
  margin-left: 1100px;
  margin-top: -50px;
  border-radius: 12px;
}

.block-items-right{
  display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 20px;
  padding-left: 20px;
}

.block-items-right p{
  max-width: 200px;
  font-size: 18px;
  margin-top: 30px;
}

/* конец Блок не совсем удачный */

.work-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 981px;
	height: 60px;
	text-align: center;
	font-size: 40px;
	color: #f17b00;
	text-align: center;
	margin-top: 120px;
	border: solid 1px #f17b00;
	margin-left: 480px;
	border-radius: 8px;
}

.work-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.work-left h1 {
	max-width: 444px;
	font-size: 34px;
	color: #fff;
	margin-top: 165px;
}

.work-icon {
	margin-top: 30px;
	display: flex;
	gap: 10px;
	margin-left: 70px;
}

.work-buttons {
	width: 226px;
	height: 57px;
	background-color: #f17b00;
	margin-top: 101px;
	border-radius: 8px;
}

.work-btn {
	display: flex;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin-left: 35px;
	padding-top: 15px;
	align-items: center;
	cursor: pointer;
}

.work-btn:hover {
	color: #000;
}

.project {
	margin-top: 70px;
	margin-bottom: 100px;
}

.project-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-left {
	width: 700px;
	height: 500px;
	border-radius: 20px;
	border: solid 1px #613200;
}
.project-right {
	width: 700px;
	height: 500px;
	border-radius: 20px;
	border: solid 1px #613200;
}

.project-img {
	width: 350px;
	margin-top: 30px;
	margin-left: 20px;
}

.project-left-l h2 {
	font-size: 20px;
	color: #fff;
	margin-left: 30px;
}

.project-text {
	display: flex;
	gap: 50px;
}

.project-text-left p {
	margin-top: -10px;
	margin-left: 20px;
	color: #fff;
	font-size: 20px;
}

.project-center {
	margin-top: -170px;
}

.project-text-right p {
	margin-top: -10px;
	margin-left: 20px;
	color: #fbad4e;
	font-size: 20px;
}

.project-left-r h2 {
	max-width: 300px;
	font-size: 20px;
	color: #fff;
	margin-top: -390px;
}

.project-text-title {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.project-text-img p {
	color: #fff;
	font-size: 20px;
	max-width: 250px;
	margin-top: -30px;
	margin-left: 40px;
}

.project-text-img {
	display: inline-block;
	justify-content: center;
	margin-left: 20px;
	margin-top: 20px;
}

.items-block-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.items-block-center {
	width: 340px;
	height: 610px;
	border: solid 1px #fbad4e;
	border-radius: 20px;
	margin-top: 80px;
}

.items-block-center:hover {
	background-color: #ffa161;
}

.items-block-center h1 {
	font: size 26px;
	text-align: center;
	color: #fbad4e;
	margin-top: 50px;
}

.items-block-center:hover .items-blok {
	color: #000;
}

.items-block-center p {
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.items-block-center img {
	margin-left: 100px;
}

.items-block-center h3 {
	font-size: 26px;
	color: #fbad4e;
	text-align: center;
}

.items-block-center a {
	color: #000;
	font-size: 26px;
	text-decoration: none;
	padding-left: 100px;
}

.form-container {
	max-width: 1438px;
	height: 406px;
	border-radius: 40px;
	background-color: #fbad4e;
	margin: 0 auto;
	margin-top: 85px;
}

.form-block {
	display: flex;
	justify-content: space-around;
}

.form-bloc-left {
	margin-top: 143px;
}
.form-bloc-left img {
	margin-left: 100px;
}

.form-bloc-centr {
	margin-top: 60px;
}

.form-bloc-centr h1 {
	text-align: center;
	color: #fff;
	font-size: 34px;
}

.block-forma {
	margin-left: 300px;
	margin-top: -40px;
}

.block-forma input {
	width: 280px;
	height: 52px;
	border-radius: 12px;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-left: 13px;
	background: transparent;
	border: 1px solid #0d0c0b;
}

.forma-btn {
	width: 324px;
	height: 70px;
	font-size: 20px;
	font-weight: bold;
	background-color: #f17b00;
	border-radius: 12px;
	border: none;
	margin-left: 8px;
	color: #fff;
	cursor: pointer;
}

.forma-btn:hover {
	color: #000;
	font-weight: bold;
}

.block-forma input::placeholder {
	color: #000;
}

.che-b {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.check-b {
	width: 20px;
	margin-left: 80px;
}

.che-b h5 {
	font-size: 20px;
	color: #000;
}

.che-b a {
	text-decoration: none;
	color: orangered;
}

.command-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 581px;
	height: 60px;
	text-align: center;
	font-size: 40px;
	color: #f17b00;
	margin-top: 120px;
	border: solid 1px #f17b00;
	margin-left: 240px;
	border-radius: 8px;
}

.command-block {
	display: flex;
	justify-content: space-evenly;
}

.command-p {
	max-width: 720px;
	color: #fff;
	font-size: 26px;
	margin-right: 350px;
}

.command-h3 {
	max-width: 385px;
	color: #fbad4e;
	font-size: 26px;
}

.command-right {
	display: block;
}

.item-block-command {
	width: 700px;
	height: 436px;
	border: solid 3px #fbad4e;
	border-radius: 20px;
}

.items-block-command {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 40px;
}

.block-command-left {
	display: block;
	margin-top: 40px;
	margin-left: 20px;
}

.block-command-img img {
	border-radius: 10px;
}

.block-command-title h3 {
	color: #fff;
	margin-left: 60px;
	font-size: 26px;
}
.block-command-title p {
	color: #fff;
	margin-left: 40px;
	font-size: 20px;
	margin-top: -20px;
}

.block-command-icon {
	display: flex;
	gap: 20px;
	margin-left: 32px;
	margin-top: 40px;
}

.item-block-command {
	display: flex;
	gap: 20px;
}

.block-command-right-title {
	display: flex;
	gap: 30px;
}

.block-command-right-title h3 {
	color: #fff;
	font-size: 16px;
	margin-top: 40px;
}

.block-command-right-title p {
	color: #fff;
	font-size: 20px;
	margin-top: 40px;
}

.block-command-right p {
	max-width: 400px;
	color: #fff;
	font-size: 20px;
}

.block-command-btn {
	width: 400px;
	height: 80px;
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	background-color: #f17b00;
	font-size: 26px;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-weight: bold;
}
.block-command-btn:hover {
	color: #000;
	font-weight: bold;
}

.block-command-title-a h3 {
	color: #fff;
	margin-left: 50px;
	font-size: 26px;
}

.block-command-title-a p {
	color: #fff;
	font-size: 20px;
	margin-left: 60px;
	margin-top: -20px;
}

.block-command-title-m h3 {
	color: #fff;
	margin-left: 50px;
	font-size: 26px;
}

.block-command-title-m p {
	color: #fff;
	font-size: 20px;
	margin-left: 45px;
	margin-top: -20px;
}

.block-command-title-n h3 {
	color: #fff;
	font-size: 26px;
	margin-left: 50px;
}

.block-command-title-n p {
	color: #fff;
	font-size: 20px;
	margin-top: -20px;
	margin-left: 65px;
}

.block-otzov-items {
	width: 370px;
	height: 591px;
	border: solid 2px #fbad4e;
	border-radius: 16px;
}

.block-items-top {
	display: flex;
	gap: 30px;
	margin-top: 30px;
	margin-left: 25px;
}

.block-items-top h3 {
	color: #fff;
	font-size: 16px;
}

.otzov-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 581px;
	height: 60px;
	text-align: center;
	font-size: 40px;
	color: #f17b00;
	margin-top: 320px;
	border: solid 1px #f17b00;
	margin-left: 650px;
	border-radius: 8px;
}

.block-items-top p {
	color: #fff;
	font-size: 16px;
}

.block-otzov-item {
	display: flex;
	justify-content: space-between;
}

.block-otzov-item {
	margin-top: 150px;
}

.block-otzov-items h1 {
	font-size: 20px;
	color: #fbad4e;
	margin-left: 24px;
	margin-top: 30px;
}

.block-otzov-items h4 {
	max-width: 309px;
	font-size: 16px;
	margin-left: 20px;
}

.block-otzov-items h5 {
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10px;
}

.btn-video {
	width: 180px;
	height: 60px;
	border: 2px solid #f17b00;
	border-radius: 15px;
	display: flex;
	color: #fff;
	background-color: rgba(28, 28, 28, 0);
	margin-left: 50px;
	margin-top: 30px;
}

.btn-video h5:hover{
	color: #f37107;
}

.btn-video p {
	font-size: 16px;
	margin-top: 20px;
}

.btn-video img {
	margin-top: 20px;
	padding-left: 20px;
}

.block-form-items {
	width: 100%;
	height: 838px;
	background-color: #fbad4e;
	margin-top: 100px;
}

.block-form-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block-form-item-left {
	margin-left: 296px;
	padding-top: 80px;
}

.block-form-item-left h1 {
	max-width: 444px;
	font-size: 34px;
}

.block-form-title {
	display: flex;
	gap: 30px;
}
.block-form-title img {
	width: 80px;
	height: 40px;
	margin-top: 20px;
}

.block-form-title p {
	max-width: 338px;
	font-size: 20px;
	font-weight: bold;
}

.block-form-socseti img {
	padding-left: 10px;
}

.block-form-item-right {
	margin-right: 314px;
}

.form-block-1-1 {
	max-width: 593px;
	height: 677px;
	margin-top: 80px;
	background-color: #fff;
	display: block;
	border-radius: 20px;
	border: solid 5px #744103;
}

.form-block-1-1 h1 {
	margin-top: 158px;
	text-align: center;
	font-size: 34px;
	font-weight: bold;
}

.form-name input {
	width: 451px;
	height: 52px;
	margin-left: 60px;
	border-radius: 12px;
	border: solid 1px #000;
	font-size: 16px;
	padding: 10px;
}

.form-phone input {
	width: 451px;
	height: 52px;
	margin-left: 60px;
	border-radius: 12px;
	border: solid 1px #000;
	font-size: 16px;
	padding: 10px;
	margin-top: 16px;
}

.formbutton {
	width: 451px;
	height: 52px;
	margin-top: 36px;
	margin-left: 70px;
	border-radius: 12px;
	border: none;
	background-color: #f17b00;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.formbutton:hover {
	color: #000;
	cursor: pointer;
}

.question-acordion{
	margin-bottom: 150px;
}

.question-h1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	text-align: center;
	font-size: 40px;
	color: #f17b00;
	margin-top: 160px;
	margin-left: 390px;
	border: solid 1px #f17b00;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 100px;
}


.footer-block{
	width: 100%;
	height: 871px;
	background-color: #FBAD4E;
}

.footer-block-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-block-item-left{
	margin-top: 250px;
}

.footer-block-item-left h2{
	max-width: 362px;
	font-size: 22px;
}

.footer-block-item-left h3{
	max-width: 238px;
	font-weight: bold;
	color: #000;
	font-size: 22px;
}

.footer-soc img{
	margin-right: 10px;
	width: 50px;
	cursor: pointer;
}

.footer-tel{
	display: flex;
	gap: 10px;
}

.footer-tel img{
	margin-top: 28px;
	width: 20px;
	height: 20px;
}

.footer-tel p{
	font-size: 24px;
}



.footer-block-item-center h1{
	max-width: 337px;
	font-size: 40px;
	margin-left: 90px;
	margin-top: 130px;
}

.footer-form{
	display: block;
	align-items: center;
	margin-top: 40px;
}

.label-name input{
	display: block;
	align-items: center;
	justify-content: center;
	width: 451px;
	height: 52px;
	border-radius: 12px;
	border: solid 1px #000;
	font-size: 16px;
	padding: 10px;
	color: #000;
	background: transparent;

	
}

.label-phone input{
	display: block;
	align-items: center;
	justify-content: center;
	width: 451px;
	height: 52px;
	border-radius: 12px;
	border: solid 1px #000;
	font-size: 16px;
	padding: 10px;
	color: #000;
	background: transparent;
	margin-top: 20px;
}

.footer-btn{
	width: 470px;
	height: 62px;
	margin-top: 20px;
	background-color: #F17B00;
	font-size: 24px;
	color: #fff;
	border-radius: 12px;
	border: none;
	cursor: pointer;
}

.footer-btn:hover{
	color: #000;
}

.footer-form p{
	max-width: 430px;
	color: #000;
	font-size: 20px;
}

.footer-check{
	display: flex;
	gap: 20px;
}

.footer-check input{
	width: 20px;
}

.footer-block-item-right{
	width: 383px;
	height: 155px;
	background-color: #FFFFFF;
	border-radius: 12px;
}

.footer-img{
	display: flex;
	margin-top: 10px;
	gap: 20px;
	padding: 20px;
}

.footer-img img{
	width: 60px;
	height: 60px;
	margin-top: 25px;
}

.footer-img p{
	font-size: 20px;
}




.footer-logo{
	margin-top: 50px;
}

.footer-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	gap: 150px;
}

.footer-contact{
	margin-left: 170px;
}

.footer-contact h2{
	margin-top: 100px;
	color: #fff;
}

.footer-contact h3{
	font-size: 20px;
	color: #FBAD4E;
}

.form-h1{
	max-width: 300px;
	color: #fff;
	font-size: 24px;
	text-align: center;
}

.form-class{
	max-width: 300px;
	display: block;
	margin-top: 20px;
}

.name-for input{
	width: 300px;
	height: 52px;
	border: solid 1px #D0D0D0;
	border-radius: 12px;
	background: transparent;
	font-size: 20px;
	padding: 10px;
}
.phone-for input{
	width: 300px;
	height: 52px;
	border: solid 1px #D0D0D0;
	border-radius: 12px;
	margin-top: 15px;
	background: transparent;
	font-size: 20px;
	padding: 10px;
}

.button-for{
	width: 320px;
	height: 62px;
	margin-top: 20px;
	font-size: 20px;
	padding: 20px;
	border-radius: 12px;
	align-items: center;
	background-color: #F17B00;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.button-for:hover{
	color: #000;
}