@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.head {
	width: 100%;
	height: 800px;
	background: black;
}

.menu {
	margin-left: 300px;
	padding-top: 59px;
}

.menu a {
	font-family: 'DM Serif Display', sans-serif;
	margin-left: 60px;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.menu a:hover {
	color: yellow;
	cursor: pointer;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
}

.main {
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

.main-left-h1 {
	font-family: 'DM Serif Display', serif;
	color: #fff;
	font-size: 100px;
	margin-left: 120px;
	margin-top: 150px;
}

.main-left-h2 {
	font-family: 'DM Serif Display', serif;
	max-width: 475px;
	color: #fff;
	font-size: 30px;
	margin-left: 120px;
	margin-top: -50px;
}

.btn {
	width: 268px;
	height: 84px;
	margin-top: 50px;
	margin-left: 110px;
	background-color: #e4ba12;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	border: none;
}

.btn:hover {
	font-weight: bold;
	color: #fff;
}

.main-right img {
	width: 560px;
	height: 700px;
}

h3 {
	display: flex;
	flex: 5;
	width: 15%;
	line-height: 1em;
	font-size: 30px;
	margin-top: 100px;
}

.heading:before,
.heading:after,
.heading-ie span.after,
.heading-ie span.before {
	content: '';
	flex-grow: 2;
	margin: 0px 4px;
	background: linear-gradient(to right, rgb(218, 214, 24), rgb(229, 250, 43));
	background-size: 50% 2px;
	background-position: 0% 50%;
	background-repeat: repeat-x;
}

.content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.content-left {
	margin-top: 87px;
}

.content-img {
	display: block;
}

.right-block-img {
	margin-left: 350px;
}

.content-right h4 {
	max-width: 650px;
	font-size: 20px;
	font-weight: 400px;
	color: #191817;
}

.content-right-text {
	width: 621px;
	height: 700px;
	background-color: #f4f4f4;
}

span {
	font-size: 50px;
	color: #554503;
}

.rectangle {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: -80px;
	margin-bottom: -40px;
}

.rectangle p {
	font-family: Lumberjack;
	font-size: 50px;
	font-weight: 400;
	line-height: 64px;
	text-align: right;
	color: #554503;
}

.rectangle-p {
	padding-bottom: 10px;
}

.rectangle img {
	width: 450px;
	height: 2px;
	rotate: -180 deg;
}

ul {
	list-style: none;
}

.content-right-text {
	max-width: 553px;
	font-size: 20px;
	padding-top: 50px;
}

.running-line-wrapper {
	height: 380px;
	background-color: #f4f4f4;
}

.running-line-wrapper {
	margin: auto;
	width: 100%;
	overflow: hidden;
}

.running-line {
	font-size: 100px;
	font-family: sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #444;
	white-space: nowrap;
}

.running-line {
	animation: run 7s linear infinite;
}

@keyframes run {
	from {
		transform: translateX(0%);
	}

	/* Magic is here. This is the width of the elem with text after rendering the page */
	to {
		transform: translateX(-1103.35px);
	}
}

.aside-block {
	margin-bottom: 100px;
}

.aside {
	width: 1240px;
	height: 433px;
	background-color: #111214;
	margin: 0 auto;
	margin-top: -240px;
}

.aside h4 {
	font-size: 20px;
	color: #adadad;
	padding-top: 60px;
	text-align: center;
	font-weight: 400;
}

.aside h1 {
	font-size: 50px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	line-height: 0.5em;
}

.aside h2 {
	max-width: 692px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	margin: 0 auto;
}

.button-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 50px;
}

.btn-btn {
	width: 268px;
	height: 64px;
	background-color: #e4ba12;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	border: none;
	cursor: pointer;
}

.btn-btn:hover {
	color: #fff;
}

.aside-block-info {
	display: flex;
	justify-content: space-between;
	gap: 70px;
	margin-bottom: 100px;
}

.aside-p {
	max-width: 650px;
	margin-top: 50px;
	font-size: 20px;
}

.aside-left img {
	width: 500px;
}

.sidebar-text {
	height: 727px;
	background-color: #191817;
	margin-bottom: 100px;
}

.sidebar-h2 {
	padding-top: 150px;
	padding-left: 220px;
	font-size: 22px;
	color: #7ab044;
	font-weight: bold;
	margin-left: 350px;

}

.sidebar-block {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.sidebar-left p {
	max-width: 500px;
	font-size: 26px;
	color: #fff;
}

.sidebar-left-block {
	display: flex;
	gap: 30px;
}

.sidebar-items {
	font-size: 16px;
	color: #e4e4e4;
}

.sidebar-right p {
	max-width: 700px;
	font-size: 20px;
	color: #fff;
}

.text-info-right {
	margin-left: 800px;
}

.text-info-right p {
	max-width: 620px;
	font-size: 20px;
}

.text-info-items-block {
	width: 400px;
	height: 302px;
	background-color: #e4e4e4;
}

.text-info {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-bottom: 100px;
}

.text-info-items {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.text-info-item-c {
	color: #e4ba12;
	font-size: 50px;
	margin-left: 20px;
}

.text-info-item-p {
	max-width: 300px;
	font-size: 20px;
	color: #191817;
	font-weight: bold;
	margin-top: 35px;
}

.text-p-p {
	max-width: 340px;
	font-size: 20px;
	margin-left: 30px;
	margin-top: -30px;
}

.footer {
	background-color: #191817;
	height: 1095px;
}

.footer-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: baseline;
	margin-left: -220px;
}

.footer-info-blok{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
}
.footer-h1 {
	color: #7ab044;
	font-size: 28px;
	padding-left: 220px;
	padding-top: 80px;
}

.footer-one {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.footer-one h1 {
	font-family: Lumberjack;
	font-size: 50px;
	font-weight: 400;
	line-height: 64px;
	color: #E4BA12;
}

.footer-one-info {
	margin-top: -60px;
}

.footer-one-info p {
	width: 580px;
	color: #e4e4e4;
	font-size: 20px;
	line-height: 1.5em;
}

.footer-one-info span {
	font-size: 20px;
	color: #E4BA12
}

.footer-one img {
	width: 550px;
	height: 2px;
}

.footer-two {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.footer-two h1 {
	font-family: Lumberjack;
	font-size: 50px;
	font-weight: 400;
	line-height: 64px;
	color: #E4BA12;
}

.footer-two img {
	width: 550px;
	height: 2px;
}
.footer-two-info{
	margin-top: -60px;
}
.footer-two-info p {
	width: 580px;
	color: #e4e4e4;
	font-size: 20px;
	line-height: 1.5em;
}

.footer-two-info span {
	font-size: 20px;
	color: #E4BA12
}

.footer-three {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.footer-three h1 {
	font-family: Lumberjack;
	font-size: 50px;
	font-weight: 400;
	line-height: 64px;
	color: #E4BA12;
}

.footer-three img {
	width: 550px;
	height: 2px;
}

.footer-three-info h1 {
	color: #e4e4e4;
	font-size: 20px;
	margin-top: -40px;
}

.footer-four-blok {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 620px;
	height: 308px;
	background: #B08D01;
	margin-top: 20px;
}
.footer-four p{
	width: 245px;
	font-size: 20px;
	color: #fff;
	line-height: 1.5em;
	text-align: center;
}

.form-h1 {
	color: #fff;
	font-size: 20px;
}

.form {
	display: block;
	width: 400px;
}

.input-name {
	width: 385px;
	height: 28px;
	border: none;
	background-color: #e4e4e4;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 20px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #444;
	font-size: 20px;
}

.input-phone {
	width: 385px;
	height: 28px;
	border: none;
	background-color: #e4e4e4;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 20px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #444;
	font-size: 20px;
}

.form-btn {
	width: 268px;
	height: 64px;
	background-color: #e4ba12;
	font-size: 20px;
	color: #000;
	cursor: pointer;
	margin-top: 5px;
	font-weight: bold;
}

.form-btn:hover {
	color: #fff;
}

.footer-right-p {
	max-width: 520px;
	font-size: 20px;
	color: #fff;
	margin-left: 110px;
}

.footer-p {
	max-width: 450px;
	color: #fff;
	font-size: 20px;
}

.footer-right-block {
	width: 600px;
	height: 380px;
	background-color: #b08d01;
	margin-top: 100px;
	margin: 0 auto;
}

.footer-right-block-p {
	font-size: 30px;
	color: #fff;
	max-width: 380px;
	padding-top: 100px;
	margin: 0 auto;
}

.footer-img {
	display: flex;
	justify-content: center;
	margin-top: 80px;
	cursor: pointer;
}

.cooperight {
	height: 100px;
	width: 100%;
	background-color: #282726;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin: 0;
	padding-top: 80px;
	text-decoration: none;
	list-style: none;
}

@media screen and (max-width:1280px) {
	.main-left-h1 {
		margin-top: 10px;
	}

	.right-block-img {
		margin-left: 250px;
	}

	.left-block-img {
		margin-left: 10px;
	}

	.content-right h4 {
		max-width: 500px;
	}

	.aside-p {
		margin-left: 20px;
	}

	.aside-left img {
		margin-right: 20px;
	}

	.sidebar-left p {
		margin-left: 20px;
	}

	.sidebar-right p {
		margin-right: 20px;
		font-size: 25px;
	}

	.text-info-items-block {
		margin: 0 auto;
		width: 320px;
	}

	.text-p-p {
		margin-right: 30px;
	}

.footer{
	width: 1280px;
}
.footer-h1{
	margin-left: 30px;
}
.footer-info-blok{
	margin-left: 30px;
}
}



@media screen and (max-width:768px) {

	.head {
		width: 100%;
		height: 1250px;
		background: black;
		border-radius: 0 0 70px 70px;
	}

	.menu {
		text-align: center;
		margin-left: -30px;
	}

	.main {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.main-left-h1 {
		font-family: Lumberjack;
		font-size: 70px;
		font-weight: 400;
		line-height: 89.6px;
		text-align: center;
		margin-left: 0px;
	}

	.main-left-h2 {
		font-family: 'DM Serif Display', serif;
		font-weight: normal;
		margin-left: 0;
		text-align: center;
	}

	.btn {
		margin-top: 0px;
	}

	.main-right {
		transform: rotate(354deg);
	}

	.heading {
		font-size: 20px;
		margin-left: 20px;
	}

	.content-left {
		display: none;
	}

	.content-right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.content-right-text {
		margin-left: 100px;
	}

	.text-info {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
	}

	.text-info-right p {
		font-size: 16px;
	}

	.text-p-p {
		font-size: 16px;
	}

	.text-info-item-p {
		font-size: 18px;
	}

	.text-info-items-block {
		width: 350px;
		height: 250px;
	}

	.aside-h2 {
		margin-left: 20px;
	}

	.aside {
		width: 648px;
	}

	.aside h1 {
		font-size: 35px;
		margin-top: 50px;
	}

	.aside h2 {
		width: 422px;
		font-size: 20px;
		text-align: center;
		line-height: 1.3em;
	}

	.aside-left img {
		width: 353px;
		height: 371px;
	}

	.aside-p {
		font-size: 16px;
		margin-top: 0;
	}

	.sidebar-text {
		height: auto;
	}

	.sidebar-h2 {
		padding-top: 30px;
		margin-left: -200px;
	}

	.sidebar-right {
		font-size: 16px;
	}

	.sidebar-right p {
		font-size: 16px;
	}

	.sidebar-left p {
		font-size: 16px;
	}

	.text-info-h2 {
		margin-left: 20px;
	}

	.text-info-right {
		margin-left: 20px;
	}

	.footer {
		height: 900px;
		width: 768px;
	}

	.footer-info{
		display: flex;
	}
	.footer-h1{
		font-size: 22px;
	}
	.footer-right-p{
		font-size: 16px;
		text-align: center;
		width: 300px;
		margin-left: 40px;
	}
	.footer-info-blok{
		display: grid;
		grid-template-columns: repeat(2, 2fr);
	}
	.footer-one-blok{
		width: 300px;
	}
	.footer-one-info p{
		width: 300px;
		font-size: 16px;
	}
	.footer-two-blok{
		width: 300px;
	}
	.footer-two-info p{
		width: 300px;
		font-size: 16px;
	}
	.footer-three-blok{
		width: 300px;
	}
	.footer-three-info h1{
		width: 300px;
		font-size: 16px;
	}
	.footer-four-blok{
		width: 300px;
		height: 230px;
	}
	.footer-four-info p{
		width: 300px;
		font-size: 16px;
	}
	.form-h1 {
		margin-top: -40px;
		font-size: 20px;
	}

	.input-name {
		font-size: 16px;
		height: 20px;
	}

	.input-phone {
		font-size: 16px;
		height: 20px;
	}

	.form-btn {
		height: 60px;
	}

	.footer-cooperight {
		height: 76px;
		background-color: #282726;
	}

	.cooperight {
		width: 768px;
		height: 20px;
		font-size: 16px;
		padding-top: 40px;
	}
}

@media screen and (max-width:360px) {
	.head {
		height: 835px;
	}

	.menu{
		width: 360px;
	}
	.menu a {
		margin-left: 20px;
	}

	.main-right img {
		width: 226px;
		height: 302px;
	}

	.main-left-h1 {
		font-size: 50px;
	}

	.main-left-h2 {
		font-size: 16px;
	}

	.btn {
		margin-left: 50px;
		margin-top: 30px;
	}

	.heading {
		margin-left: 120px;
		width: 110px;
	}

	.content-right {
		width: 280px;
		margin-left: 40px;
	}

	.content-right h4 {
		font-size: 14px;
		text-align: center;
	}

	.content-right-text {
		width: 290px;
	}

	.rectangle-p {
		font-size: 16px;
	}

	.rectangle img {
		width: 200px;
	}

	.rectangle p {
		margin-left: -20px;
	}

	.running-line-wrapper {
		height: 145px;
		width: 350px;
	}

	.running-line span {
		font-size: 30px;
	}

	.running-line {
		margin-top: -30px;
	}

	.aside {
		margin-top: -60px;
		width: 320px;
	}

	.aside h1 {
		font-size: 26px;
		line-height: 1.3em;
	}

	.aside h2 {
		font-size: 16px;
		width: 300px;
	}

	.aside-block-info {
		display: flex;
		flex-direction: column;
	}

	.aside-left img {
		width: 287px;
		height: 302px;
		margin-left: 30px;
		margin-top: -50px;
		margin-bottom: -60px;
	}

	.aside-p {
		font-size: 16px;
		margin-left: 0;
	}

	.aside-right {
		width: 340px;
		margin-left: 30px;
	}

	.sidebar-h2 {
		width: 300px;
		margin-left: -200px;
		font-size: 18px;
	}

	.sidebar-block {
		display: flex;
		flex-direction: column;
	}

	.sidebar-right {
		margin-left: 30px;
	}

	.sidebar-left p {
		font-size: 20px;
		text-align: center;
	}

	.sidebar-left {
		width: 340px;
	}

	.text-info-items-block {
		width: 320px;
	}

	.text-info {
		display: grid;
		grid-template-columns: repeat(1, 6fr);
	}

	.text-info-item-c {
		margin-left: 5px;
	}

	.footer{
		width: 360px;
		height: auto;
	}
	.footer-info{
		width: 300px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.footer-h1{
		width: 300px;
		margin-left: 20px;
		font-size: 20px;
		margin: 0;
	}
	.footer-right-p{
		margin-left: 250px;
		margin-bottom: 70px;
	}
	.footer-info-blok{
		width: 300px;
		display: grid;
		grid-template-columns: repeat(1, 4fr);
		margin-top: -100px;
	}
	.input-name{
		width: 280px;
	}
	.input-phone{
		width: 280px;
	}
	.footer-four-blok{
		width: 360px;
		margin-left: -30px;
	}
	#action-form.form{
		width: 300px;
	}
	.form{
		width: 360px;
	}
	.cooperight{
		width: 360px;
	}
}