/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: "Sofia Sans", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.logo img {
  width: 100px;
  height: 80px;
}

/* Блок nav*/
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;

}

/* Блок меню*/
.menu ul {
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 20px;
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(0, 179, 30);
}

.link::after {
  width: 0;
  transition: 0.3s;
}

.link:hover:after {
  width: 100%;
}

.link::after {
  left: 50%;
  transform: translateX(-50%);
}

.contact a:hover {
  cursor: pointer;
  color:rgb(0, 179, 30); ;
}


.contact p a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.slider__block {
  width: 1920px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header.png');
}

.block__h1 {
  max-width: 1100px;
  padding-top: 150px;
  padding-left: 100px;
  font-size: 65px;
  color: #fff;
}

.block__h3 {
  max-width: 1000px;
  padding-left: 100px;
  font-size: 18px;
  color: #000;
  background-color: #ccc;
  width: 400px;
  height: 60px;
  padding: 20px;
  margin-left: 100px;
  border-radius: 5px;
  margin-top: 50px;
}

.block__btn {
  width: 300px;
  height: 60px;
  margin-left: 100px;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.block__btn:hover {
  color: #000;
}


.slider__block1 {
  width: 1920px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header2.png');
}


.block__text-h2 {
  max-width: 1100px;
  padding-top: 150px;
  padding-left: 100px;
  font-size: 65px;
  color: #fff;
}

.block__text-h3 {
  max-width: 1000px;
  padding-left: 100px;
  font-size: 18px;
  color: #000;
  background-color: #ccc;
  width: 400px;
  height: 60px;
  padding: 20px;
  margin-left: 100px;
  border-radius: 5px;
  margin-top: 30px;
}


/* Слайдер */
:root {
  --rate: 19.9%;
  --function: ease-in-out;
  --slide-distortion-delay: 5s;
  --slide-distortion-time: 4.5s;
  --slide-reset-delay: 5.4s;
  --slide-reset-time: 5.5s;
  --slider-offset: 0%;
  --slider-time: 0.8s;
}



.wrapper {
  padding: 0;
}

.slider {
  overflow: hidden;
}

.slider__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: translateX(var(--slider-offset));
  transition-property: transform;
  transition-duration: var(--slider-time);
  transition-timing-function: ease;
  will-change: transform;
}

.slider__item {
  flex: 1 0 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
}


.slider__image {
  width: 100%;
  height: auto;
  transform: translateX(0);
  animation-delay: var(--slide-distortion-delay), var(--slide-reset-delay);
  animation-duration: var(--slide-distortion-time), var(--slide-reset-time);
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, reverse;
}

.slider__image:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__image:nth-child(1) {
  clip-path: inset(0 0 calc(var(--rate) * 4) 0);
}

.slider__image:nth-child(2) {
  clip-path: inset(calc(var(--rate) * 1) 0 calc(var(--rate) * 3) 0);
}

.slider__image:nth-child(3) {
  clip-path: inset(calc(var(--rate) * 2) 0 calc(var(--rate) * 2) 0);
}

.slider__image:nth-child(4) {
  clip-path: inset(calc(var(--rate) * 3) 0 calc(var(--rate) * 1) 0);
}

.slider__image:nth-child(5) {
  clip-path: inset(calc(var(--rate) * 4) 0 0 0);
}


.slider__item--animating .slider__image:nth-child(1) {
  animation-name: animation-1, animation-1;
}

.slider__item--animating .slider__image:nth-child(2) {
  animation-name: animation-2, animation-2;
}

.slider__item--animating .slider__image:nth-child(3) {
  animation-name: animation-3, animation-3;
}

.slider__item--animating .slider__image:nth-child(4) {
  animation-name: animation-4, animation-4;
}

.slider__item--animating .slider__image:nth-child(5) {
  animation-name: animation-5, animation-5;
}


@keyframes animation-1 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50px);
    transform: translateX(-5vw);
  }
}

@keyframes animation-2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-3vw);
  }
}

@keyframes animation-3 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(1vw);
  }
}

@keyframes animation-4 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(3vw);
  }
}

@keyframes animation-5 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1vw);
  }
}

@keyframes slide {
  to {
    transform: translateX(-100%);
  }
}



.container {
  max-width: 1440px;
  margin: 0 auto;
}

.about {
  margin-left: 200px;
  width: 950px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  margin-top: -80px;
  position: relative;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 22px -2px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 22px -2px rgba(66, 68, 90, 1);
}

.about__h1 {
  font-size: 40px;
}

.about__p {
  max-width: 950px;
  padding-top: 30px;
  font-size: 20px;
}

.services{
  margin-top: 100px;
  margin-bottom: 100px;
}

.services__h1{
  font-size: 40px;
}
.services__block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  justify-items: center;
}

.services__item{
  width: 590px;
  height: auto;
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 22px -2px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 22px -2px rgba(66, 68, 90, 1);
}

.services__items-left h1{
  margin-bottom: 20px;
}

.services__items-left p{
  line-height:1.5;
}
 
.services__items-right{
  margin-top: 30px;
}